<a href="https://colab.research.google.com/github/Raghu-vamsi-pav/Theme-and-Headline-generation-Inter-IT-tech-meet/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving dev_data_article.xlsx - Sheet1.csv to dev_data_article.xlsx - Sheet1.csv
Saving dev_data_tweet.xlsx - Sheet1.csv to dev_data_tweet.xlsx - Sheet1.csv

In [ ]:
import pandas as pd 
import io 
import numpy as np
import tensorflow as tf

  
df1 = pd.read_csv(io.BytesIO(uploaded['dev_data_article.xlsx - Sheet1.csv'])) 
df2 = pd.read_csv(io.BytesIO(uploaded['dev_data_tweet.xlsx - Sheet1.csv']))

print(df1.head())
print(df1.tail())

print(df2.head())
print(df2.tail())

        Text_ID  ... Mobile_Tech_Flag
0  article_0001  ...                0
1  article_0002  ...                0
2  article_0003  ...                0
3  article_0004  ...                0
4  article_0005  ...                0

[5 rows x 4 columns]
           Text_ID  ... Mobile_Tech_Flag
3995  article_3996  ...                0
3996  article_3997  ...                0
3997  article_3998  ...                0
3998  article_3999  ...                0
3999  article_4000  ...                0

[5 rows x 4 columns]
     Tweet_ID  ... Mobile_Tech_Tag
0  tweet_0001  ...               0
1  tweet_0002  ...               0
2  tweet_0003  ...               0
3  tweet_0004  ...               0
4  tweet_0005  ...               0

[5 rows x 3 columns]
        Tweet_ID  ... Mobile_Tech_Tag
3995  tweet_3996  ...               1
3996  tweet_3997  ...               1
3997  tweet_3998  ...               1
3998  tweet_3999  ...               1
3999  tweet_4000  ...               1

[5 rows x 3 columns]

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
df1.describe()

       Mobile_Tech_Flag
count       4000.000000
mean           0.243500
std            0.429248
min            0.000000
25%            0.000000
50%            0.000000
75%            0.000000
max            1.000000

In [ ]:
df2.describe()

       Mobile_Tech_Tag
count      4000.000000
mean          0.250000
std           0.433067
min           0.000000
25%           0.000000
50%           0.000000
75%           0.250000
max           1.000000

In [ ]:
print(df1.columns)
df2.columns

Index(['Text_ID', 'Text', 'Headline', 'Mobile_Tech_Flag'], dtype='object')

Index(['Tweet_ID', 'Tweet', 'Mobile_Tech_Tag'], dtype='object')

In [ ]:
print(np.sum(df1.isnull()))

Text_ID             0
Text                0
Headline            0
Mobile_Tech_Flag    0
dtype: int64

In [ ]:
word_token = [None]*4000
for i in range(4000):
  word_token[i] = nltk.word_tokenize(df1['Text'][i])

df1['word_token'] = word_token
print(df1.head())
df1.tail()

        Text_ID  ...                                         word_token
0  article_0001  ...  [Digitisation, is, one, of, the, key, buzzword...
1  article_0002  ...  [Increase, in, tolerance, limit, up, to, 120, ...
2  article_0003  ...  [Home, >, News, >, World, Sports, News, Jonas,...
3  article_0004  ...  [Source, :, Agfax.com, By, Keith, Brown, ,, DT...
4  article_0005  ...  [United, Nations, ,, Feb, 4, :, The, Serum, In...

[5 rows x 5 columns]

           Text_ID  ...                                         word_token
3995  article_3996  ...  [All, Hindi, Bloggers, List, with, All, Detail...
3996  article_3997  ...  [Amazon, Flex, se, Part, Time, me, Earn, kare,...
3997  article_3998  ...  [Bad, Link, Building, Strategies, se, Kaise, B...
3998  article_3999  ...  [Badiya, Comment, karte, Samay, Rakhe, in, Baa...
3999  article_4000  ...  [Best, Blogger, Blog, Theme, का, चुनाव, कैसे, ...

[5 rows x 5 columns]

In [ ]:
word_token_ = [None]*4000
for i in range(4000):
  word_token_[i] = nltk.word_tokenize(df2['Tweet'][i])

df2['word_token_'] = word_token_
print(df2.head())
df2.tail()

     Tweet_ID  ...                                        word_token_
0  tweet_0001  ...  [You, 'll, 💜, my, #, PitchWars, book, if, you,...
1  tweet_0002  ...  [RT, @, SkySportsNews, :, 🚨, Breaking, :, #, W...
2  tweet_0003  ...  [RT, @, stealyoman_cuso, :, really, says, a, l...
3  tweet_0004  ...  [RT, @, PGtzsche1, :, HPV, vaccines, increased...
4  tweet_0005  ...  [Ramaphosa, says, if, you, are, positive, you,...

[5 rows x 4 columns]

        Tweet_ID  ...                                        word_token_
3995  tweet_3996  ...  [RT, @, ZeeNews, :, चीनी, मोबाइल, कंपनी, रियलम...
3996  tweet_3997  ...  [RT, @, ZeeNews, :, चीनी, मोबाइल, कंपनी, रियलम...
3997  tweet_3998  ...  [चीनी, मोबाइल, कंपनी, रियलमी, ने, अपना, Realme...
3998  tweet_3999  ...  [QT, @, AnjaliSingh_IN, :, Aapne, phone, hi, g...
3999  tweet_4000  ...  [QT, @, ManojSaru, :, पर, bhaib5g, इंडिया, में...

[5 rows x 4 columns]

In [ ]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
stemmer = PorterStemmer()